.xd {
    border: 4px solid #97452b9d;
    border-radius: 25%;
}

.Lop {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

body {
    background-color: #80c4b471;
}